/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
#pri {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

/* Menú */
#menu {
    background-color: #444;
    color: white;
    padding: 2px 0;
}

.MenInicio {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.MenInicio li {
    margin-right: 20px;
    list-style: none;
    position: relative;
}

.MenInicio a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.MenInicio ul {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
    top: 100%;
    left: 0;
}

.MenInicio li:hover ul {
    display: block;
    flex-direction: column;
}

.MenInicio ul li {
    margin: 0;
}

/* Contenido de la historia */
#sec {
    text-align: center;
}

#historia {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

#historia img {
    float: left; 
    margin-right: 20px; 
}
img {
    float: left; 
    margin-right: 10px; 
    width: 100px;
    height: 100px;}

/* Información del equipo */
#yo {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    display:grid; 
    align-items: center; 
}

#yo h4 {
    color: #333;
}

#yo h5 {
    color: #555;
}
